<div class="login-container">
    <div class="login-card">
      <h2 class="login-title">Welcome Back!</h2>
      <p class="login-subtitle">Please log in to your account</p>
  
      <form (ngSubmit)="onLogin()"  class="login-form">
        <!-- Email Input -->
        <div class="form-group">
          <label for="email">Email</label>
          <app-input-text
            id="email"
            type="email"
            pInputText
            name="email"
            [(value)]="email"
            [label]="email"
            placeholder="Enter your email"
            class="login-input"
            required
            [disabled]="false"
          />
        </div>
  
        <!-- Password Input -->
        <div class="form-group">
          <label for="password">Password</label>
          <app-password
            id="password"
            type="password"
            pInputText
            name="password"
            [(value)]="password"
            placeholder="Enter your password"
            class="login-input"
            required
          />
        </div>
  
        <!-- Remember Me Checkbox -->
        <!-- <div class="form-group-checkbox"> -->
          <!-- <p-checkbox
            [(ngModel)]="rememberMe"
            binary="true"
            name="rememberMe"
            label="Remember Me"
          ></p-checkbox>
        </div> -->
  
        <!-- Login Button -->
        <div class="form-group">
          <app-button-component
            pButton
            (onClick)="onLogin()"
            type="submit"
            label="Login"
            class="p-button-rounded p-button-primary"
          ></app-button-component>
        </div>
  
        <!-- Forgot Password Link -->
        <!-- <div class="forgot-password">
         <a (click)="onForgotPassword()">Forgot Password?</a>
        </div> -->
      </form>
    </div>
  </div>
  